.home-container {
  text-align: center;
  padding: 20px;
}

.home-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.home-button:hover {
  background-color: darkblue;
}
