.login-container {
  background-color: rgb(0, 0, 0);
  background-image: url("../../assets/login-wall.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.center_page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
